.page {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.user {
  width: 45%;
  margin: 5px;
  padding: 5px;
  height: 250px;
  justify-content: space-around;
  cursor: pointer;
  outline: none;
  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }
} 
.pagination {
  display: flex;
  width: 100%;
  button {
    margin: 2px;
    min-width: 50px;
    min-height: 30px;
    background: rgb(60, 60, 216);
    border: 0px;
    border-radius: 4px;
    color: white;
    cursor: pointer; 
    &:disabled{
      background-color: gray;
      cursor: not-allowed;
    } 
  }
}

.loading{
  width: 100%;
  justify-content: center;
  display: flex;
}

#active {
  background-color: black;
}
