<h1>List of Users</h1>
<div class="pagination" *ngIf="paginationIsVisiable">
  <button (click)="page(1)" [disabled]="currentPage<2">First</button>
  <button (click)="page(currentPage-1)" *ngIf="currentPage>1">
    <i class="material-icons"> fast_rewind </i>
  </button>
  <button (click)="page(currentPage)" id="active">{{currentPage}}</button>
  <button *ngIf="currentPage<pageCount" (click)="page(currentPage+1)">
    <i class="material-icons"> fast_forward </i>
  </button>
  <button (click)="page(pageCount)" [disabled]="currentPage==pageCount">Last</button>
</div>
<div class="loading">
  <mat-spinner *ngIf="loading"></mat-spinner>
</div>
<div class="page" *ngIf="!loading">
  <div class="user" *ngFor="let user of users">
    <app-user-card [user]="user"></app-user-card>
  </div>
</div>