<div class="not_found">
    <img src="https://i.pinimg.com/originals/32/79/00/327900b16c434be05849ad06dc9bec22.png" alt="">
    <h1>Page Not Found</h1>
        <div class="example-button-row">
        <button mat-raised-button (click)=backClicked() color='basic'>
            <i class="material-icons"> fast_rewind </i>
            COME BACK
        </button>
    </div>
</div>