<div class="content">
  <img src="../../../assets/data/logo.png" alt="Image" />
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Enter Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="hasError('email', 'required')">
        Email cannot be blank.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter Password</mat-label>
      <input type="password" matInput formControlName="password" />
      <mat-error *ngIf="hasError('password', 'required')">
        Password cannot be blank.
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="basic">
      <mat-spinner *ngIf="loading"></mat-spinner>
      Login
    </button>
  </form>
  <button id="facebook" mat-raised-button color="blue" (click)="openDialog()"> Login with Facebook </button>
</div>
