.content {
  padding-top: 200px;
  width: 30%;
  margin: auto;
  text-align: center;

  image {
    width: 100%;
    height: 25%;
  }
  button {
    width: 90%;
    margin: 10px;
  }
}
mat-form-field {
  width: 90%;
}
#facebook {
  background-color: rgb(37, 37, 192);
}
