<h1>List of users around {{defaultRadius.toFixed(2)}} kilometres</h1>
  <agm-map [latitude]="userCoords.lat" [longitude]="userCoords.lng" [zoom]="zoom" [disableDefaultUI]="false"
    [zoomControl]="false" (mapReady)="mapReady($event)">
    <agm-marker-cluster
      imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
      <div class="mark">
        <agm-marker *ngFor="let marker of markers" (markerClick)="clickedMarker(marker.id)" [latitude]="marker.lat" [longitude]="marker.lng"
          [iconUrl]="{ url: marker.icon, scaledSize: { width: 45, height: 45, anchor : {x:19, y:19} }, labelOrigin:{x:20,y:60}}"
          [label]="{color: 'red', fontWeight: 'bold', fontSize: '12px', backgroundColor:'red',  text: marker.label}">
        </agm-marker>
      </div>
    </agm-marker-cluster>
    <agm-circle [latitude]="userCoords.lat" [longitude]="userCoords.lng" [radius]="defaultRadius*1000 "
      [fillColor]="'blue'" [circleDraggable]="true" [editable]="true" (radiusChange)="change($event)"
      (dragEnd)=circleStop($event)>
    </agm-circle>
  </agm-map>