.headder {
  height: 30px;
  width: 100%;
  display: flex;
  background: hsl(0, 0%, 31%);
  padding: 5px;
  justify-content: space-between;

.search {
  min-width: 40%;
  height: 90%;
  input {
    background-color: gray;
    height: 100%;
    padding-left: 11px;
    border-radius: 16px;
    margin: 1px;
    width: 90%;
    outline: none;
  }
  input:focus {
    background-color: white;
  }
}

.profile {
  width: 200px;
  button {
    width: 100%;
  }
}

.mat-menu-trigger {
  min-width: 150px;
  border-radius: 5px;
  outline: none;
}
button {
  color: black;
  width: 20%;
  height: 100%;
  margin: 0px 5px;
  border: 0px;
  outline: none;
  background-color: white;
  font-weight: 600;
  border-radius: 3px;
  &:hover {
    color: white;
    background-color: blue;
  }
}
.navigation {
  min-width: 40%;
  display: flex;
  padding: 0px 5px;
  button {
    width: 50%;
  }
}
.active {
  background-color: blue;
  color: white;
}
}
