<div class="headder">
  <div class="navigation">
    <button routerLink="list" routerLinkActive="active">List</button>
    <button routerLink="map" routerLinkActive="active">Map</button>
  </div>

  <div class="search">
    <input matInput [(ngModel)]="searchString" (ngModelChange)="updateService($event)"
      placeholder="Search user by name...(start with 2 symbols)">
  </div>
  <div class="profile">
    <button mat-button [matMenuTriggerFor]="menu">
      {{ user?.firstName }} {{ user?.lastName }}
    </button>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="profile">Profile</button>
    <button mat-menu-item (click)="logout()">
      <mat-spinner *ngIf="loading"></mat-spinner>  
      Log Out
    </button>
  </mat-menu>
</div>
