<h1>Profile</h1>
<div class="profile_page">
  <div class="profile_photo">
    <img *ngIf="!user.image!==null" src="{{user.image}}" />
    <img *ngIf="user.image==null" src="assets/data/default_profile_image.png" />
  </div>
  <div class="profile_content">
    <mat-list>
      <mat-list-item>First Name: {{user.firstName}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Last Name: {{user.lastName}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Location: {{user.country}}, {{user.city}}</mat-list-item>
    </mat-list>
    <div class="example-button-row">
      <button mat-raised-button (click)=returnToList()>
        <i class="material-icons"> fast_rewind </i>
        BACK TO USER LIST
      </button>
    </div>
  </div>

</div>
