<div class="user_profile" [routerLink]="['/board/profile/', user.id]">
    <img *ngIf="user.image!==null" src="{{ user.image }}" alt="User was not upload photo for profile" />
    <img *ngIf="user.image==null" src="assets/data/default_profile_image.png" />
    <div class="user_info">
        <p>Name: {{ user.firstName }} {{ user.lastName }}</p>
        <p>Location: {{ user.country }}, {{ user.city }}</p>
    </div>
</div>