.user_profile {
  width: 100%;
  height: 100%;
  display: flex;
  padding-bottom: 5px;
  outline: none;
  overflow-x: hidden;
}
.user_info {
  margin-left: 5px;
}
img {
  border-radius: 4px;
  width: 50%;
}
