.profile_page {
  padding: 10px;
  display: flex;

  .profile_photo {
    width: 60%;
    height: 50%;
    padding-top: 20px;
    text-align: center;
    img {
      width: 60%;
      height: 50%;
      border-radius: 10px;
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
      }
    }
    button {
      width: 60%;
    }
  }

  .profile_content {
    padding: 20px;
    height: 40%;
    width: 40%;
    
    mat-form-field,
    .example-button-row button {
    justify-content: center;
      width: 100%;
    }
  }

 
  mat-radio-button {
    margin: 5px;
  }

  button {
    background-color: blue;
    margin: 10px 5px;
    &:hover {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    }
  }
}
