<h1>User Settings</h1>
<div class="profile_page">
  <div class="profile_photo">
    <input type="file" style="display:none" (change)="onFileSelected($event)" #fileInput />
    <img *ngIf='!url' src="{{user?.image}}" (click)=" fileInput.click()" />
    <img *ngIf="url" [src]="url" (click)=" fileInput.click()" />
    <div class="example-button-row">
      <button mat-raised-button (click)="upload()" [disabled]="!uploadIsActive">
        <mat-spinner *ngIf="uploading"></mat-spinner> 
        Upload profile image
      </button>
    </div>
  </div>
  <div class="profile_content">
    <form [formGroup]="myProfile" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="legacy">
        <mat-label>Enter First Name</mat-label>
        <input matInput formControlName="firstName" />
        <mat-error *ngIf="hasError('firstName', 'required')"> First Name cannot be blank. </mat-error>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label>Enter Last Name</mat-label>
        <input matInput formControlName="lastName" />
        <mat-error *ngIf="hasError('lastName', 'required')"> Last Name cannot be blank. </mat-error>

      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label>Enter Country</mat-label>
        <input matInput formControlName="country" />
        <mat-error *ngIf="hasError('country', 'required')"> Country cannot be blank. </mat-error>

      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label>Enter City</mat-label>
        <input matInput formControlName="city" />
        <mat-error *ngIf="hasError('city', 'required')">City cannot be blank. </mat-error>

      </mat-form-field>
      <div class="gender">
        <label id="example-radio-group-label">Your gender</label>
        <mat-radio-group formControlName="gender" aria-label="Male">
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="example-button-row">
        <button mat-raised-button>
          <mat-spinner *ngIf="loading"></mat-spinner>
          Save
        </button>
      </div>
    </form>
  </div>
</div>