<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>Hi! Do you want to log in by Facebook?</h1>
  <div mat-dialog-content>
    <p>
      Click <span (click)="openAuthUrl()">here</span> and set Url from new
      window to input
    </p>
    <mat-form-field appearance="outline">
      <mat-label>https://test-api.live.gbksoft.net/?#access_token=....</mat-label>
      <input matInput formControlName="url" />
      <mat-error *ngIf="hasError('url', 'required')">
        Url cannot be blank.
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" cdkFocusInitial>Close</button>
    <button mat-button type="submit"> Log In </button>
  </div>
</form>
