span {
  color: blue;
  cursor: pointer;
}
.mat-dialog-actions {
  padding: 10px;
  justify-content: space-between;
  button {
    width: 45%;
  }
}
button[type="submit"] {
  background-color: blue;
}
.mat-dialog-content {
  text-align: center;
  mat-form-field {
    width: 90%;
  }
}
