/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "./styles/profile.scss";


  html,
  body {
    margin: 0px;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #d0cbcb;
    overflow-x:hidden;
  }

.mat-form-field-flex {
  height: 50px;
}

.cdk-overlay-container{
  .mat-menu-panel {
    width: 200px;
    button {
      border-radius: 0px;
      margin: 0px;
      width: 100%;
      text-align: center;
    }
  }
}

.mat-button-wrapper {
  .mat-spinner {
    left: 50%;
    margin-left: -4em;
    text-align: center;
    height: 100% !important;
    position: fixed;
    svg {
      height: 100% !important;
    }
  }
}
.mat-progress-spinner circle, .mat-spinner circle{
  stroke:white
}
